{% extends 'main.html'%}{% load auth_tags %}
{% block content%}
<main>
  <div class="columns is-centered">
    <div class="column is-8">

      <div class="card table is-bordered is-striped is-narrow is-hoverable is-centered is-three-forths">
        <div class="title" style="font-size:24px">Afgelopen Evenementen</div>
        <table style="width: 100%; border: 1px solid black">
          <th>Datum</th>
          <th>Activiteit</th>
          <th>Kokers</th>
          <th>Omschrijving</th>
          <th>Kartrekkers</th>
          <th>Bijzonderheden</th>
          <th>Budget</th>
          {% if request.user|has_group:"Senate" %}
          <th><a href="{%url 'createEvent' %}">Add Event</a></th>
          {% endif %}
          {% for event in events %}
          <tr>
            <td style="text-align: center">
              {{event.start_date|default_if_none:""}}
            </td>
            {% if event.summary == 'Wedstrijd' %}
            <td style="text-align: center; background-color: red">
              {{event.summary}}
            </td>
            {% elif event.summary == 'Dispuutsactiviteit'%}
            <td style="text-align: center; background-color: green; color: white">
              {{event.summary}}
            </td>
            {% elif event.summary == 'Borrel'%}
            <td style="text-align: center; background-color: pink; color: black">
              {{event.summary}}
            </td>
            {% elif event.summary == 'Dispuutsverjaardag'%}
            <td style="text-align: center; background-color: #bbd334">
              {{event.summary}}
            </td>
            {% elif event.summary == 'Clubactiviteit'%}
            <td style="text-align: center; background-color: yellow">
              {{event.summary}}
            </td>
            {% elif event.summary == 'Activiteit'%}
            <td style="
              text-align: center;
              background-color: rgba(35, 32, 209, 0.685);
            ">
              {{event.summary}}
            </td>
            {%else %}
            <td style="text-align: center">
              {{event.summary|default_if_none:""}}
            </td>

            {% endif %}
            <td style="text-align: center">
              {{event.kokers|default_if_none:""}}
            </td>

            <td style="text-align: center">{{event.description}}</td>
            <td style="text-align: center">
              {{event.kartrekkers|default_if_none:""}}
            </td>
            <td style="text-align: center">
              {{event.bijzonderheden|default_if_none:""}}
            </td>
            <td style="text-align: center">
              {{event.budget|default_if_none:""}}
            </td>
            {% if request.user|has_group:"Senate" %}
            <td style="text-align: center">
              <a href="{% url 'editEvent' event.id %}">Edit</a>
              <a href="{% url 'deleteEvent' event.id %}">Delete</a>
            </td>
            {% endif %}
          </tr>
          {%endfor%}
        </table>
      </div>
      <div class="columns is-centered">
        {% include 'pagination.html' with queryset=events custom_range=custom_range %}
      </div>
    </div>
  </div>
</main>
{% endblock content%}