{% extends 'main.html'%} {% block content%}
<div class="columns">
  <div class="column is-4 is-offset-1">
    <div class="table is-bordered is-striped is-narrow is-fullwidth">
      <table style="width: 100%; border: 1px solid black">
        <th>Datum</th>
        <th>Omschrijving</th>

        {% for lid in leden %}
        <th>{{lid.initials}}</th>
        {% endfor %}
        <tr>
          {% for event in events %}
          <td style="text-align: center">{{event.start_date|date:"l j F"}}</td>
          <td style="text-align: center">{{event.description}}</td>
          {% for point in event.dsani_ev.all %}
          <td class="myDIV" style="text-align: center">
            {% if point.note%}
            <div class="dropdown is-hoverable">
              <span aria-haspopup="true" aria-controls="dropdown-menu4">
                <span>{{point.points}}</span>
              </span>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <p>{{point.note}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <span>{{point.points}}</span>
            {%endif%}
          </td>

          {%endfor%}
        </tr>
        {%endfor%}
      </table>
    </div>
  </div>
  <div class="column"></div>
</div>

{% endblock content%}
