{% extends 'main.html' %} {% block content%}
<!-- Main Section -->
<main class="columns">
  <div class="column">
    <div class="table is-bordered is-striped is-narrow is-hoverable is-centered is-three-forths">

      <form class="form" method="POST">
        {% csrf_token %}
        <table style="width: 100%; border: 1px solid black">
          <th>Datum</th>
          <th>Activiteit</th>
          <th>Kokers</th>
          <th>Omschrijving</th>
          <th>Kartrekkers</th>
          <th>Bijzonderheden</th>
          <th>Budget</th>
          <tr> 

          {% for field in form %}
          <!-- Input:{{field.label}} -->
          <td class="form__field">
            <label for="formInput#text">{{field.label}}: </label>
            {{field}}
          </td>
          {% endfor %}</tr>
        </table>


    </div>
    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
    </form>
  </div>
  </div>
</main>
{% endblock content%}