{% extends 'main.html'%}
{% block content%}

</header>

<!-- Main Section -->
<main>
  <div class="columns is-centered">
    <div class="column --1of3">
      <div class="card text-center">
        <div class="card__body">
          <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-account' %}?next=/account"><i
              class="im im-edit"></i>
            Edit</a>
          <img class="avatar avatar--xl dev__avatar" src="{{lid.imageURL}}" />
          <h2 class="dev__name">{{lid.name}}</h2>
          <p class="dev__title">
            {{lid.short_intro}}
          </p>
        </div>
      </div>
    </div>
    <div class="column --1of3">
      <div class="columns is-centered">

        <div class="column card text-center">
          Mijn Declas

          {%for decla in declasFILED %}
          <div class="card" style="padding:10px;">
            <div class="card__body">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'editDecla' decla.id %}?next=/account"><i
                  class="im im-edit">Edit</i>
              </a>
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'deleteDecla' decla.id %}?next=/account"><i
                  class="im im-edit">Delete</i>
              </a>
              <p class="dev__title">
                {{decla.event}}, €{{decla.total}}
              </p>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
      <div class="columns is-centered">

        <div class="column card text-center">
          Declas op mij 

          {%for decla in declasPRESENT %}
          <div class="card" style="padding:10px;">
            <div class="card__body">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'showDecla' decla.id %}?next=/account/"><i
                  class="im im-edit">Toon</i>
              </a>
              <p class="dev__title">
                {{decla.event}}, €{{decla.total}}
              </p>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>

    </div>
  </div>
</main>
{% endblock content%}