{% extends 'main.html'%} {% block content%}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{{request.GET.next}}"
        ><i class="im im-angle-left"></i
      ></a>
      <br />

      <div style="text-align: center">
        <br />
        <iframe
          src="{{lid.curriculum_vitae.url}}"
          type="application/pdf"
          frameborder="0"
          scrolling="auto"
          height="100%"
          width="100%"
        ></iframe>
      </div>
    </div>
  </div>
</main>

{% endblock content%}
