<html>
  {% load static %}
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <title>Login - STROPDAS</title>
  </head>
  <body background="{% static 'images/blazoen_small.jpg'%}">
    <div class="columns is-centered">
      <div class="column is-2">
        <br />
        <div class="container" style="text-align: center">
          <img
            src="{% static 'images/dumspiro.gif'%}"
            alt="DUM SPIRO SPERO"
            style="width: 240px; height: 39px"
          />
        </div>
        <br />
        <div
          class="container"
          style="background-color:#FFF; padding; 20px; border: 1px solid grey;"
        >
          <div class="container">
            <form class="form" action="" method="POST" style="">
              {% csrf_token %}
              <div class="columns is-gapless">
                <div
                  class="column is-4"
                  style="text-align: center; padding: 15px"
                >
                  <div class="text" style="padding-top: 10px">Login</div>
                  <div
                    class="text"
                    style="padding-top: 0px; padding-right: 0px"
                  >
                    Password
                  </div>
                </div>
                <div class="column is-8">
                  <div style="padding-top: 15px; padding-bottom: 0px">
                    <input
                      style="width: 75%"
                      type="text"
                      name="username"
                      id="formInput#text"
                      placeholder="STROPDAS"
                    />
                  </div>
                  <div style="padding-top: 0px">
                    <input
                      {% comment %} class="input" {% endcomment %}
                      style="width: 75%"
                      type="password"
                      name="password"
                      id="formInput#passowrd"
                      placeholder="••••••••"
                    />
                  </div>
                  <input
                    class="btn"
                    style="width: 75%;padding-bottom; 20px;"
                    type="submit"
                    value="Log in"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
