<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}

{% comment %}  {% endcomment %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv='refresh' content="5; url=http://www.google.nl/search?hl=nl&source=hp&q=tuut+tuut+tuut+tuut&btnG=Google+zoeken&meta=&aq=f&oq=" />
<title>Dum Spiro Spero&reg; - Dispuut STROPDAS</title>
<style>
body 	{
		background-color: #8a867b;
		text-align: center;
		}
		
h1		{
		font-family: Verdana, Arial;
		font-size: 0.8em;
		}
		
</style>
</head>
<body>
<br /><br />
<img src="{% static 'images/wachten_foto.jpg'%}" width=700/><br /><br />
<h1>
U heeft het automatische antwoordapparaat van dispuut STROPDAS gevonden. <br />Helaas zijn wij er even niet - maar als u later terugkomt zullen wij er ongetwijfeld zijn! De verbinding wordt nu verbroken.
</h1>

</body>

</html>
