{% extends 'main.html'%} {% load auth_tags %}{% block content%}
<main>
  <embed
    src="https://drive.google.com/embeddedfolderview?id=14Vy6iZb9V9HIPMY1LAO1DLOtjglREiMl#grid"
  />
  <iframe
    src="https://docs.google.com/document/d/e/2PACX-1vSVeGNb4QZ6SATVJsO0Rjn2iAMQjs6rpTW1DH6PXY00FiY4ve_HFpd4kPwZBv6y_4XWSxrAb4oOs7qp/pub?embedded=true"
  ></iframe
  ><iframe
    src="https://docs.google.com/document/d/e/2PACX-1vSVeGNb4QZ6SATVJsO0Rjn2iAMQjs6rpTW1DH6PXY00FiY4ve_HFpd4kPwZBv6y_4XWSxrAb4oOs7qp/pub?embedded=true"
  ></iframe>
  <iframe src="https://docs.google.com/document/d/e/2PACX-1vRNFFziSqj2BKXLvVGeMLc8OGh9--auDAWyg-GHbIKKftFyFUuMwdmiJ6XUslYwPF1K2dY2ty1WzhHI/pub?embedded=true"></iframe>
</main>
{% endblock content%}
