{% extends 'main.html' %} {% block content%}{% load auth_tags %}
<!-- Main Section -->
<main class="columns is-centered">
  <div class="column is-one-third">
    <div class="table is-bordered is-striped is-narrow is-hoverable is-centered is-three-forths">

      <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table style="width: 100%; border: 1px solid black">
          {% for field in form %}
          {% if field.label == 'Present'%}
          <!-- Input:{{field.label}} -->
          <label for="formInput#text">{{field.label}}: </label>
          {{field}}
          </br>

          <!-- TODO: SHOW IF IIS ITHE FI -->
          {% elif field.label == 'Verwerkt' or field.label == 'content_fiscus' %} 
            {%if request.user|has_group:"Fiscus" %}
            <label for="formInput#text">{{field.label}}: </label>
            {{field}}
            {%endif%}
          {%else %}
            <label for="formInput#text">{{field.label}}: </label>
            {{field}}
          {% endif%}
          {% endfor %}</tr>
        </table>


    </div>
    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
    </form>
  </div>
  </div>
</main>
{% endblock content%}